        .submenu-li{
          list-style: none;
        }

        .iv-popover-title {
            background-color: #F7F7F7;
            border-bottom: 1px solid #EBEBEB;
            border-radius: 5px 5px 0 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 10px;
            margin: 0;
            padding: 8px 14px;
        }
        .iv-popover-title-hover {
            color: white;
            background-color: #0081C2;
            border-bottom: 1px solid #EBEBEB;
            border-radius: 5px 5px 0 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 10px;
            margin: 0;
            padding: 8px 14px;
        }

        .popover {
              background-clip: padding-box;
              background-color: #FFFFFF;
              border: 1px solid rgba(0, 0, 0, 0.2);
              border-radius: 6px 6px 6px 6px;
              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
              display: none;
              left: 0;
              padding: 1px;
              /*
              position: absolute;
              */
              text-align: left;
              top: 0;
              white-space: normal;
              z-index: 1010;
              width: 120px;
              height: 220px ! important;
          }

          

          .submenu-onmouseover{

          }
          .submenu-onmouseout{

          }

          .iv-search-head-title{
            background: #97BFFE;
            padding: 1px 0 0;
            font-size: 14px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 20px;
            color: #333333;
            padding: 1px 0 0;
            text-align:center;
            border-bottom: 1px solid #BFBFBF;
            border-top: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            border-left:1px solid #BFBFBF;
          }
          .iv-search-head-title tr{
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
          }
          .iv-search-head-title td{
            font-size: 12px;
          }
          .iv-search-head-title th{
            font-weight: bold;
            padding: 0.3em 1em;
          }


          .iv-search-head-detail {
            background: #F5F5F5;
            padding: 1px 0 0;
            font-size: 12px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 20px;
            color: #333333;
            padding: 1px 0 0;
            text-align:center;
            border-bottom: 1px solid #BFBFBF;
            border-top: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            border-left:1px solid #BFBFBF;

          }
          .iv-search-head-detail td {
            padding: 0.3em 1em;
          }

          .iv-search-head-buttom{
            padding: 1px 0 0;
            font-size: 16px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 20px;
            color: #333333;
            text-align: right;

          }

          .iv-search-head-buttom th {
            font-weight: bold;
            padding: 0.3em 1em;
            text-align:right;
            border-bottom: 1px solid #BFBFBF;
            border-top: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            border-left:1px solid #BFBFBF;
            font-size: 12px;
          }

          .iv-search-result-title{
            background: #FEEFB6;
            padding: 1px 0 0;
            font-size: 14px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 20px;
            color: #333333;
            padding: 1px 0 0;
            text-align:center;

          }
                
          .iv-search-result-title tr{
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
          }
          .iv-search-result-title td{
            font-size: 12px;
          }
          .iv-search-result-title th{
            font-weight: bold;
            padding: 0.3em 1em;
            border-bottom: 1px solid #BFBFBF;
            border-top: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            border-left:1px solid #BFBFBF;
          }
          .iv-search-result-head{
            background: #F5F5F5;
            padding: 1px 0 0;
            font-size: 12px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 20px;
            color: #333333;
            padding: 1px 0 0;
            text-align:center;
          }
          .iv-search-result-head th{
            /*
            width: 100px;
            */
            text-align: center;
            font-weight: bold;
            padding: 0.3em 1em;
                        border-bottom: 1px solid #BFBFBF;
            border-top: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            border-left:1px solid #BFBFBF;
          }

          .iv-search-result-detail {
            background: #F5F5F5;
            padding: 1px 0 0;
            font-size: 12px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 20px;
            color: #333333;
            padding: 1px 0 0;
            text-align:center;
            border-bottom: 1px solid #BFBFBF;
            border-top: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            border-left:1px solid #BFBFBF;

          }
          .iv-search-result-detail-hover{
              background: #CCDDFF; 

          }
          .iv-search-result-detail th {
            padding: 0.3em 1em;

          }
          .iv-search-result-detail td {
            padding: 0.3em 1em;
            border-bottom: 1px solid #BFBFBF;
            border-top: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            border-left:1px solid #BFBFBF;

          }
          .iv-search-result-buttom {

            padding: 1px 0 0;
            font-size: 16px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 20px;
            color: #333333;
            text-align: right;

          }
          .iv-search-result-buttom th {
            font-weight: bold;
            padding: 0.3em 1em;
            text-align:right;
            font-size: 12px;
            border-bottom: 1px solid #BFBFBF;
            border-top: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            border-left:1px solid #BFBFBF;
          }
          .iv-data-head
          {
            background: #FADCED;            
            border-bottom: 1px solid #BFBFBF;
            border-top: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            border-left:1px solid #BFBFBF;

          }
          .iv-data-head th{
            padding: 0.3em 1em;
          }
          .iv-data-detail   {
            background: #F5F5F5;
            padding: 1px 0 0;
            font-size: 12px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 20px;
            color: #333333;
            padding: 1px 0 0;
            text-align:center;
            border-bottom: 1px solid #BFBFBF;
            border-top: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            border-left:1px solid #BFBFBF;

          }
          .iv-data-detail-hover{
              background: #CCDDFF; 

          }
          .iv-data-detail td{
            width: 90px;
            padding: 0.3em 1em;
            height: 30px;

          }
          .iv-date-detail-field{
            text-align: center;
            /*
            background: #FFFFE0;
            */
          }
          .iv-date-detail-value{
            text-align: left;
          }

          .iv-date-detail-center-value{
            text-align: center;
          }
          .iv-date-detail-left-value{
            text-align: left;
          }

          .iv-data-detail-buttom {

            font-weight: bold;
            padding: 0.3em 1em;
            text-align:right;
            font-size: 12px;
            border-bottom: 1px solid #BFBFBF;
            border-top: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            border-left:1px solid #BFBFBF;
          }
           .iv-data-detail-buttom th{
            width: 90px;
            padding: 0.3em 1em;
            text-align: right;
          }

          .radio-col-1{
            width: 15px;
          }

          .iv-sub-table-page-menu   {
            background: #E0FFFF;
            padding: 1px 0 0;
            font-size: 12px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 20px;
            color: #333333;
            padding: 1px 0 0;
            text-align:center;
          }
          .iv-sub-table-detail   {
            background: #E0FFFF;
            padding: 1px 0 0;
            font-size: 12px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 20px;
            color: #333333;
            padding: 1px 0 0;
            text-align:left;
          }

          .iv-sub-table-detail-left-border{
            border-left:1px solid #BFBFBF;

          }
          .iv-sub-table-detail-right-border{
            border-right: 1px solid #BFBFBF;
          }


          .iv-user-info{
            background: #FEEFB6;
            padding: 1px 0 0;
            font-size: 14px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 28px;
            color: #333333;
            padding: 1px 0 0;
            text-align:center;
            border-bottom: 1px solid #BFBFBF;
            border-top: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            border-left:1px solid #BFBFBF;
          }

          .iv-user-info td{
            color: #333333;
            padding: 0.3em 1em;

          }
          .iv-calendar-info{
            padding: 1px 0 0;
            font-size: 14px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 28px;
            color: #333333;
            padding: 1px 0 0;
            text-align:center;
          }
          .iv-calendar-info td{
            width: 70px;
            background: #FEEFB6;
            border-bottom: 1px solid #BFBFBF;
            border-top: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            border-left:1px solid #BFBFBF;
          }
          .iv-calendar-info th{
            width: 100px;
            background: white;
          }
          .selected{
            color:red;
          }

        input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], textarea, .textarea {
          background-repeat: no-repeat;
          border: 1px solid;
          border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
          font: 1em 'Tahoma','Lucida Sans Unicode','Lucida Grande','Lucida',Arial,Verdana,sans-serif;
          padding: 5px 1px;
          height: 20px;

        }
        input[type="checkbox"] {
          margin: 4px 0 0;
          cursor: pointer;
          vertical-align: middle;
          width: auto;
          line-height: normal;
        }



        select {
          background-image: url(../images/forms/input_shadow.png);
          background-repeat: no-repeat;
          border: 1px solid;
          border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
          font: 1em 'Tahoma','Lucida Sans Unicode','Lucida Grande','Lucida',Arial,Verdana,sans-serif;
          padding: 5px 1px;
          width: 40px;
          height: 28px;
          vertical-align: top;
          font-size:6px;
        }
       ul li, ol ul li {
          list-style: none;
        }
       a {
          color: #0088cc;
          text-decoration: none;
        }
        img{
          vertical-align: middle;
          vertical-align: middle;
        }


        .long-select{
            width: 200px;
            text-align: center;
          }
          .short-select{
            width: 90px;
            text-align: center;

          }
          .mini-select{
            width: 50px;
            text-align: center;
          }
          .year-select{
            width: 70px;
            text-align: center;
          }
          .month-select{
            width: 40px;
            text-align: center;
          }
          .middle-select
          {
            width: 150px;
            text-align: center;
          }
          .long-input-text{
            width: 200px;
            text-align: left;
          }
          .short-input-text{
            width:90px;
            text-align: center;
          }
          .middle-input-text{
            width: 150px;
            text-align: center;
          }
          .time-input-text{
            width:90px;
            text-align: center;

          }
          .time-input-text-withDD{
            width:95px;
            text-align: center;
            vertical-align: middle;

          }
          .mini-input-text{
            width:30px;
            text-align: center;
          }
          .navbar .popover {
            width: 400px;
            -webkit-border-top-left-radius: 0px;
            -webkit-border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            overflow: hidden;
        }


        .portlet-ui-menu{
          padding:0 0 0 10px;
       } 

       .portlet-ui-menu li{
          display: inline;
          float: left;
          line-height: 2;
          padding: 0;
          text-decoration: none;
          font-size:10px;
       }
      .portlet-menu {
      /*background: url(../img/meta/portlet/ttl_bg.gif) 0 50% repeat-x;
      */
      border-bottom:solid 0px #b1b1b1;
      float:left;
      display: block;
      font-weight: bold;
      padding: 6px 0 4px 10px;
      /*width: 100%;
      */
      }

        #nav-bar-inner .nav_a, #navbar.nav-beacon #nav-bar-inner .nav_a:link, #navbar.nav-beacon #nav-bar-inner .nav_a:visited {
        text-decoration: none;
        color: black;
        }
        #nav-shop-all-button.nav-menu-active {
        cursor: default;
        }
        #nav-shop-all-button, #navbar.nav-beacon .nav-shop-all-button {
        width: 115px;
        left: 15px;
        }
        .nav-button-outer {
          cursor: pointer;
          top: 8px;
          height: 40px;
          display: block;
          text-decoration: none;
        }
        .navbar .popover-content {
            text-align: center;
        }

        .navbar .popover-content img {
            height: 212px;
            max-width: 250px;
        }

        .navbar .dropdown-menu {
            -webkit-border-top-right-radius: 0px;
            -webkit-border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;

            -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

        }

        .navbar .dropdown-menu > li > a:hover {
            background-image: none;
            color: white;
            background-color: rgb(0, 129, 194);
            background-color: rgba(0, 129, 194, 0.5);
        }

        .navbar .dropdown-menu > li > a.maintainHover {
            color: white;
            background-color: #0081C2;
        }
        .nav-collapse.collapse {
            height: auto !important;
            overflow: visible !important;
            }

        frame{

        }
        .time-clock{
          float: right;
        
        }
        .alert{
            background : #DC143C ;
            color: white;
          }
          .alert-hover{
            background : #FFB6C1 ;
            color: white;
          }
        .alert span{
            color: white;
        }
        .alert-font{
          color:red;
        }


  

.squaredFour label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  border-radius: 4px;

  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);

}

.squaredFour label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredFour label:hover::after {
  opacity: 0.5;
}
.squaredFour input[type=checkbox]:checked + label:after {
  opacity: 1;
}